{
  "server": {
    "publicUrl": "https://hibiscus-actual.example.com"
  },
  "ntfy": {
    "topic": "your-topic",
    "schedule": "0 12 */2 * *"
  },
  "actual": {
    "serverUrl": "http://localhost:5006",
    "password": "your-password"
  },
  "hibiscus": {
    "url": "https://hibiscus.example.com",
    "username": "user",
    "password": "pass"
  },
  "dataDir": "data",
  "budgets": [
    {
      "syncId": "sync-id-1",
      "accounts": [
        {
          "accountId": "account-id-1",
          "hibiscusAccountId": 1
        },
        {
          "accountId": "account-id-2",
          "hibiscusAccountId": 2
        }
      ]
    },
    {
      "syncId": "sync-id-2",
      "accounts": [
        {
          "accountId": "account-id-3",
          "hibiscusAccountId": 3
        }
      ]
    }
  ]
}
